@import './quasar.variables.styl'
@import '~quasar-styl'
// @import '~quasar-addon-styl'
.q-notification {
  border-radius: 0px;
  opacity: 0.9
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.q-table th {
  background-color: #5C5C5C;
  color: white;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}
body {
  background-color: #f7f7f7;
}
.border-buttom {
  border-radius: 0px !important;
}
.q-field__bottom {
  padding-top: 3px;  
}
.q-field__marginal {
  font-size: 19px;
}
.q-dialog__inner--top {
  padding-top: 0px !important;
}